# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. panda
2. numpy
3. matplotlib
4. scikit-learn

| Data Science Tools |
| --- |
| MySQL |
| JupyterLab |
| RStudio |
| Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
n_mins = 200
n_hours = n_mins/60
print(f"{n_mins} minutes are {n_hours} hours.")

200 minutes are 3.3333333333333335 hours.

**Objectives:**
- List popular languages for Data Science
- Demostrate simple arthmetic operations
- Table of data science tools

## Author 
Sven